<div class="all-memos">
  <div class="all-memos-list"> 
    <% @memos.each do |memo| %>
    <p class="memos-list"><a href="/<%= memo["id"] %>"><%= memo["article"] %></a></p>
    <% end %>
  </div>
</div>
