<div class="all-memos">
<div class="all-memos-list"> 
<% @memo_all_data.each do |memo| %>
<<<<<<< HEAD
<p class="memos-list"><a href="/<%= memo[:id] %>"><%= memo[:article] %></a></p>
  <% end %>
=======
<p class="memos-list"><a href="/<%= h(memo["id"]) %>"><%= h(memo["article"]) %></a></p>
<% end %>
>>>>>>> master
</div>
</div>