<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>memo</title>
  <link rel="stylesheet" href="/reset.css">  
  <link rel="stylesheet" href="/style.css">  
</head>

<body> 
  <header class="header">
  <div class="header-contents">
  <div class="title">
   <a href="/">Memo</q>
   </div>
      <div class="post">
        <a href="/new"class="btn-1">新しいメモを書く</a>
      </div>
    </div>
  </header>
  <%= yield %>
</body>
</html>
